# Compiled Object files, Static and Dynamic libs (Shared Objects)
bin
pkg
*.o
*.out
*.a
*.so
*.bak
+src/tr1d1um/tr1d1um
+src/tr1d1um/debug
+src/tr1d1um/output
 
 # config
-src/tr1d1um/tr1d1um.json
+src/tr1d1um/tr1d1um.json
+keys/*.private
*.xml
*.bk
*.log
*.iml

src/tr1d1um/tr1d1um
src/tr1d1um/debug
src/tr1d1um/output

# config
src/tr1d1um/tr1d1um.json
keys/*.private

# Vim
*.swp
*.out

# Folders
_obj
_test
coverage*
vendor
.ignore

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*
_testmain.go

*.exe
*.test
*.prof

tr1d1um
.ignore
