# SPDX-FileCopyrightText: 2022 Comcast Cable Communications Management, LLC
# SPDX-License-Identifier: Apache-2.0
---
name: CI

on:
  push:
    branches:
      - main
    paths-ignore:
      - README.md
      - CONTRIBUTING.md
      - MAINTAINERS.md
      - LICENSE
      - NOTICE
    tags:
      - 'v[0-9]+.[0-9]+.[0-9]+'
  pull_request:
  workflow_dispatch:

jobs:
  ci:
    uses: xmidt-org/shared-go/.github/workflows/ci.yml@3e639071afa98e4c89f393266a1c26d2e12eb04c # v4.9.12
    with:
      release-type:          program
      release-arch-arm64:    true
      release-docker:        true
      release-docker-latest: true
      release-docker-major:  true
      release-docker-minor:  true
      release-docker-extras: |
        .release/docker
        LICENSE
        NOTICE
      yaml-lint-skip: false
    secrets: inherit
